{
  "$schema": "https://json.schemastore.org/swcrc",
  "exclude": [".stories.tsx"],
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "target": "es2019"
  },
  "module": {
    "type": "commonjs"
  }
}
